<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="grid-tiles product-index">
        <form method="get" class="filter" th:attr="action=@{/product/index}">
            <input type="text" name="name" placeholder="Name..." th:attr="value=${name}">
            <button class="blue-button" type="submit">Search</button>
        </form>
        <div class="tiles-container">
            <div class="tile" th:each="product: ${grid}" >
                <div class="name" th:text="${product.name}"></div>
                <div class="image-container">
                    <img th:src="@{/resources/image/product/no-image.jpg}">
                </div>
                <div class="button-wrapper">
                    <a th:href="@{/product/detail(code=${product.code})}" class="blue-button update-button">Buy</a>
                </div>
                <div>
                    <a th:if="${product.discount} == 0" > </a>
                    <s><a th:if="${product.discount} != 0"  th:text="${product.priceRupiah}"></a></s>
                </div>
                    <div class="price" th:text="${product.priceAfterDiscountRupiah}"></div>
                </div>
        </div>

            <div class="pagination">
                <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                <div>
                    <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                       th:href="@{/product/index(page=${loop},name=${name})}"
                       th:text="${loop}"></a>
                </div>
            </div>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>