<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{login-layout :: head}">
	<meta charset="UTF-8">
	<title>Login Page</title>
</head>
<body class="authentication-body">
    <div class="authentication-wrapper">
        <header th:replace="~{login-layout :: header}"></header>
        <main>
			<h1>Login</h1>
			<form th:action="@{/authenticateTheUser}" method="post">
				<div th:if="${param.error}" class="error">
					Invalid username and password
				</div>
				<div th:if="${param.logout}">
					You have been logged out
				</div>
				<input type="text" name="username" placeholder="username" autocomplete="off"/>
				<input type="password" name="password" placeholder="password"/>
<!--				<select th:field="*{role}">-->
<!--					<option th:value=null>No Specific Role</option>-->
<!--					<option th:each="option : ${roleDropdown}" th:value="${option.stringValue}"-->
<!--							th:text="${option.text}" th:selected="${option.stringValue == role}"/>-->
<!--				</select>-->
				<button type="submit">Login</button>
			</form>
			<div class="link-container">
			    <a th:href="@{/account/registerForm}">Register As Customer</a>
			</div>
        </main>
    </div>
</body>
</html>